@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --primary-color: #ebdaa7;
  --secondary-color: #dbc88d;
  --tertiary-color: #ffffff;
  --quartenary-color: #000000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: white;
  color: #333;
  line-height: 1.6;
}

.main-image {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
  margin: 15px 0;
}

.content {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  align-items: stretch;
}

.text-section,
.carousel-section {
  flex: 1;
  min-width: 250px;
}
.text-block {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.text-block p {
  font-size: 1.2em;
  margin-bottom: 20px;
  font-family: "Merriweather", serif;
  font-weight: 300;
  font-style: italic;
  color: gray;
}

.views-likes {
  display: flex;
  justify-content: space-between;
  font-size: 0.9em;
  color: black;
}

.carousel {
  margin-bottom: 3%;
  margin-top: 1%;
}

.carousel-cell {
  width: 33%;
  height: 180px;
  margin-right: 10px;
  border-radius: 15px;
  background-size: cover;
  background-position: center center;
}

.city {
  width: 25%;
  height: 250px;
}

.info-section {
  position: relative;
  border-radius: 10px;
  margin-top: 50px;
  margin-bottom: 40px;
}

.info-section p {
  font-size: 1.3em;
  margin-bottom: 60px;
  font-family: "Merriweather", serif;
  font-weight: 300;
  font-style: normal;
  overflow: hidden;
  position: relative;
  z-index: 1;
  transition: max-height 0.4s ease;
  max-height: 4.5em;
}

.info-section p.expanded {
  max-height: 792px;
}

.button-container {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  & a {
    text-decoration: none;
    color: inherit;
  }
}

.button {
  background: #8d8b7e;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  color: #333;
  font-weight: bold;
  transition: background 0.3s;
  font-size: 1.4em;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-style: normal;
  border: none;
  cursor: pointer;
}

.active {
  background-color: var(--primary-color);
}

.button:hover {
  background: var(--primary-color);
}

#atracoes-section {
  margin-top: 30px;
}

.atracoes {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 2em;
}
.section {
  display: none;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.view-icon {
  transition: transform 0.3s ease;
}

.view-icon:hover {
  transform: scale(1.2);
}

.button-readmore {
  position: absolute;
  text-align: center;
  width: 100%;
  bottom: 0px;
  z-index: 2;
  overflow: hidden;
  height: 90px;
  transition: bottom 4s;
}

.button-readmore::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  opacity: 0.7;
  z-index: -1;
  transition: opacity 0.5s;
}

.button-readmore.expanded::before {
  opacity: 0;
  transition-delay: 0s;
}

.button-readmore:not(.expanded)::before {
  transition-delay: 0.2s;
}

.read-more {
  position: absolute;
  right: 45%;
  bottom: 0px;
  text-decoration: none;
  color: #dbc88d;
  font-weight: bold;
  font-size: 1.4em;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  cursor: pointer;
  padding: 5px 10px;
  border: 1px solid #dbc88d;
  border-radius: 5px;
}
