:root {
  --primary-color: #ebdaa7;
  --secondary-color: #dbc88d;
  --tertiary-color: #ffffff;
  --quartenary-color: #000000;
}

#roteiro-section {
  border-radius: 10px;
  margin-top: 50px;
  margin-bottom: 40px;
}

#roteiro-section p {
  font-size: 1.3em;
  margin-bottom: 40px;
  padding-top: 30px;
  font-family: "Merriweather", serif;
  font-weight: 300;
  font-style: normal;
  border-top: 2px solid var(--secondary-color);
}

#roteiro-section img{
  border: solid var(--secondary-color) 4px;
}

.img-left {
  float: left;
  max-width: 400px;
  margin-right: 20px;
  margin-top: 10px;
}

.img-right {
  float: right;
  max-width: 400px;
  margin-left: 20px;
  margin-top: 10px;
}
.timeline {
  max-width: 800px;
  margin: 0 auto 50px;
  padding: 0 20px 20px;
  background: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: relative;
}

.timeline::before {
  content: "";
  position: absolute;
  top: 0;
  left: 35%;
  transform: translateX(-50%);
  width: 4px;
  height: 100%;
  background: var(--primary-color);
}

.timeline-event {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
  position: relative;
}

.timeline-time {
  font-weight: bold;
  color: #555;
  width: 100px;
  text-align: center;
}

.timeline-details {
  flex: 1;
  margin-left: 20px;
  position: relative;
}

.timeline-title {
  font-size: 18px;
  color: var(--secondary-color);
}

.timeline-duration {
  font-size: 14px;
  color: #888;
}

.timeline-dot {
  position: absolute;
  left: -23px;
  transform: translateX(-50%);
  width: 12px;
  height: 12px;
  background: white;
  border-radius: 50%;
  border: solid var(--primary-color) 3px;
  z-index: 1;
  cursor: pointer;
  bottom: 19.5px;
}

.timeline-dot.active {
  background: var(--secondary-color);
}
.timeline h2 {
  padding: 10px 0 10px;
  position: relative;
  z-index: 2;
  text-align: center;
  background-color: #f9f9f9;
}
