#roteiro-section {
  border-radius: 10px;
  margin-top: 50px;
  margin-bottom: 40px;
}

#roteiro-section p {
  font-size: 1.3em;
  margin-bottom: 40px;
  padding-bottom: 30px;
  font-family: "Merriweather", serif;
  font-weight: 300;
  font-style: normal;
  border-bottom: 2px solid black;
}

.img-left {
  float: left;
  max-width: 400px;
  margin-right: 20px;
  margin-top: 10px;
}

.img-right {
  float: right;
  max-width: 400px;
  margin-left: 20px;
  margin-top: 10px;
}
.timeline {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: relative;
}

.timeline::before {
  content: "";
  position: absolute;
  top: 0;
  left: 30%;
  transform: translateX(-50%);
  width: 4px;
  height: 100%;
  background: #00c3ff;
}

.timeline-event {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
  position: relative;
}

.timeline-time {
  font-weight: bold;
  color: #555;
  width: 100px;
  text-align: right;
}

.timeline-details {
  flex: 1;
  margin-left: 20px;
  position: relative;
}

.timeline-title {
  font-size: 18px;
  color: #007bff;
}

.timeline-duration {
  font-size: 14px;
  color: #888;
}

.timeline-dot {
  position: absolute;
  left: -11px;
  transform: translateX(-50%);
  width: 12px;
  height: 12px;
  background: #00c3ff;
  border-radius: 50%;
  z-index: 1;
  cursor: pointer;
  bottom: 19px;
}

.timeline-dot.active {
  background: #0066cc;
}
.buxa {
  position: relative;
  z-index: 2;
}
