#roteiro-section {
  border-radius: 10px;
  margin-top: 50px;
  margin-bottom: 40px;
}

#roteiro-section p {
  font-size: 1.3em;
  margin-bottom: 70px;
  font-family: "Merriweather", serif;
  font-weight: 300;
  font-style: normal;
}

.img-left {
  float: left;
  max-width: 400px;
}

.img-right {
    float: right;
    max-width: 400px;
  }

