<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Campina Grande</title>
    <link rel="icon" href="../sources/footer-header-icons/iconpb.png" />

    <link
      rel="stylesheet"
      href="https://unpkg.com/flickity@2/dist/flickity.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"
    />
    <link rel="stylesheet" href="../stylesheet/roteiro.css" />
    <link rel="stylesheet" href="../stylesheet/cards.css" />
    <link href="../stylesheet/page.css" rel="stylesheet" />
    <link href="../stylesheet/city.css" rel="stylesheet" />
    <link href="../stylesheet/style.css" rel="stylesheet" />
    <link href="../stylesheet/servicos.css" rel="stylesheet" />

    <script
      src="https://kit.fontawesome.com/49272a6f5a.js"
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
    <!-- BODY CONTENT -->
    <div class="container">
      <!-- HEADER -->
      <header class="header-content">
        <nav>
          <img src="../sources/footer-header-icons/logoHD.png" alt="" />
          <!-- LOGO -->

          <ul class="nav-list">
            <!-- NAV LIST -->
            <li><strong><a href="../index.html">Cidades</a></strong></li>
            <li><strong>Roteiros</strong></li>
            <li><strong>Descubra</strong></li>
            <li><strong>Noticias</strong></li>
          </ul>

          <div class="pesquisa-perfil">
            <!-- PESQUISA-PERFIL -->

            <div class="buscar-box">
              <div class="lupa-buscar">
                <i class="bi bi-search"></i>
              </div>
              <div class="input-buscar">
                <input type="text" name="" id="" placeholder="Pesquisa" />
              </div>
              <div class="btn-fechar">
                <i class="bi bi-x-circle"></i>
              </div>
            </div>
            <div class="usuario">
              <div class="perfil" onclick="menuToggle();">
                <i class="bi bi-person"></i>
              </div>
              <div class="menu">
                <h3>Bem-Vindo(a)<br /><span>João da Silva</span></h3>
                <ul>
                  <li>
                    <i class="bi bi-box-arrow-left"></i
                    ><a href="#">Sair do perfil</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </nav>
      </header>
      <!-- HEADER END -->

      <!-- MAIN -->
      <div class="main-content">
        <img
          src="../sources/cidades/imagens-paraibese/campina/campina-main.jpg"
          alt="Main Image"
          class="main-image"
        />

        <div class="content">
          <div class="text-section">
            <div class="text-block">
              <p>
                Estava em Campina e fiquei encantado com a energia vibrante e a
                riqueza cultural da cidade. 🎉🌆 O "Maior São João do Mundo" é
                uma experiência inesquecível, repleta de música, dança e
                tradições juninas. 🎶🔥 quando caminhei pelo açude velho, senti
                uma paz imensa, não há palavras pra descrever o que vivi em
                Campina Grande .
              </p>
              <div class="views-likes">
                <div>
                  <i class="fa-regular fa-eye view-icon"></i>
                  <span>4228 VIEWS</span>
                </div>
                <div>
                  <i class="fa-regular fa-heart view-icon"></i>
                  <span>3423 LIKES</span>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-section">
            <div
              class="carousel"
              data-flickity='{"autoPlay" :true, "wrapAround": true}'
            >
              <div
                class="carousel-cell"
                style="
                  background-image: url('../sources/cidades/imagens-paraibese/campina/atracoes-naturais/campina6.jpg');
                "
              ></div>
              <div
                class="carousel-cell"
                style="
                  background-image: url('../sources/cidades/imagens-paraibese/campina/atracoes-culturais/campina1.jpg');
                "
              ></div>
              <div
                class="carousel-cell"
                style="
                  background-image: url('../sources/cidades/imagens-paraibese/campina/atracoes-culturais/campina4.jpg');
                "
              ></div>
              <div
                class="carousel-cell"
                style="
                  background-image: url('../sources/cidades/imagens-paraibese/campina/atracoes-culturais/campina6.jpg');
                "
              ></div>
            </div>
          </div>
        </div>
        <div class="info-section">
          <p>
            <span>
              Campina Grande, na Paraíba, é uma cidade repleta de atrações
              culturais e naturais que encantam visitantes de todas as idades.
              Conhecida pelo "Maior São João do Mundo", Campina Grande oferece
              uma experiência única durante o mês de junho, com festas juninas
              que atraem turistas de todo o Brasil. Mas a cidade vai muito além
              dessa famosa festividade. O Parque do Povo é o coração das
              comemorações juninas, mas também é um excelente local para
              passeios em qualquer época do ano, com diversas opções de
              gastronomia e artesanato. <br />
              <br />
              Próximo dali, o Museu do Algodão e o Museu de Arte Assis
              Chateaubriand proporcionam uma rica imersão na história e cultura
              local. A Vila do Artesão é um ponto imperdível para quem aprecia o
              artesanato regional. Com várias lojas que oferecem produtos
              típicos, é o lugar perfeito para comprar lembranças únicas e
              conhecer mais sobre o trabalho dos artesãos locais. Para os
              amantes da natureza, o Parque da Criança e o Açude Velho são
              paradas obrigatórias. O Açude Velho, em particular, é um
              cartão-postal da cidade, onde se pode apreciar a estátua dos
              Pioneiros da Borborema e uma bela vista ao entardecer. Para uma
              experiência mais aventureira, a Serra do Bodopitá oferece trilhas
              e uma vista deslumbrante da região. A Catedral Nossa Senhora da
              Conceição, com sua arquitetura imponente, é uma visita
              indispensável para os interessados em história e arquitetura.
              <br /><br />Já o Sítio São João oferece uma viagem no tempo,
              recriando o ambiente de uma antiga vila nordestina, com casas de
              taipa, engenhos de cana-de-açúcar e apresentações culturais. O
              Mercado Central de Campina Grande é o lugar ideal para conhecer a
              culinária local, com uma variedade de frutas, verduras, queijos e
              carnes que representam o melhor da produção regional. Para uma
              refeição típica, os establishments da cidade oferecem pratos como
              a carne de sol com nata, o rubacão e o bode guisado. No final do
              dia, uma visita ao Parque da Liberdade proporciona momentos de
              tranquilidade e um belo pôr do sol. Para encerrar a noite, a Praça
              da Bandeira e seus arredores oferecem uma variedade de bares e
              establishments, perfeitos para um jantar ao som de música ao vivo,
              muitas vezes com sanfona e ritmos regionais. Campina Grande é uma
              cidade que harmoniza tradição e modernidade, oferecendo atrações
              para todos os gostos e tornando-se um destino irresistível para
              quem deseja explorar o melhor da cultura e da natureza paraibana.
            </span>
          </p>

          <div class="button-readmore">
            <span class="read-more" onclick="toggleReadMore()">Leia mais</span>
          </div>
        </div>
        <div class="button-container">
          <button
            class="button active"
            onclick="showSection('atracoes-section'),toggleExpanded(this)"
          >
            ATRAÇÕES
          </button>
          <button
            class="button"
            onclick="showSection('hospedagem-section'),toggleExpanded(this)"
          >
            HOSPEDAGEM
          </button>
          <button
            class="button"
            onclick="showSection('servicos-section'),toggleExpanded(this)"
          >
            SERVIÇOS
          </button>
          <button
            class="button"
            onclick="showSection('alimentacao-section'),toggleExpanded(this)"
          >
            ALIMENTAÇÃO
          </button>
          <button class="button" onclick="showHide()">LAZER</button>
          <button
            class="button"
            onclick="showSection('roteiro-section'),toggleExpanded(this)"
          >
            ROTEIRO
          </button>
          <button class="button" onclick="showHide()">EVENTOS</button>
        </div>

        <!-- ----------- ATRACOES-SECTION -------------- -->
        <div id="atracoes-section" class="section">
          <p class="atracoes">Atrações culturais em Campina Grande</p>
          <div class="carousel-section">
            <div
              class="carousel"
              data-flickity='{"autoPlay" :true, "wrapAround": true}'
            >
              <div
                class="carousel-cell city"
                style="
                  background-image: url('../sources/cidades/imagens-paraibese/campina/atracoes-culturais/campina1.jpg');
                "
              ></div>
              <div
                class="carousel-cell city"
                style="
                  background-image: url('../sources/cidades/imagens-paraibese/campina/atracoes-culturais/campina2.jpg');
                "
              ></div>
              <div
                class="carousel-cell city"
                style="
                  background-image: url('../sources/cidades/imagens-paraibese/campina/atracoes-culturais/campina3.jpg');
                "
              ></div>
              <div
                class="carousel-cell city"
                style="
                  background-image: url('../sources/cidades/imagens-paraibese/campina/atracoes-culturais/campina4.jpg');
                "
              ></div>
              <div
                class="carousel-cell city"
                style="
                  background-image: url('../sources/cidades/imagens-paraibese/campina/atracoes-culturais/campina5.jpg');
                "
              ></div>
              <div
                class="carousel-cell city"
                style="
                  background-image: url('../sources/cidades/imagens-paraibese/campina/atracoes-culturais/campina6.jpg');
                "
              ></div>
            </div>
          </div>
          <p class="atracoes">Atrações naturais em Campina Grande</p>
          <div class="carousel-section">
            <div
              class="carousel"
              data-flickity='{"autoPlay" :true, "wrapAround": true}'
            >
              <div
                class="carousel-cell city"
                style="
                  background-image: url('../sources/cidades/imagens-paraibese/campina/atracoes-naturais/campina1.jpg');
                "
              ></div>
              <div
                class="carousel-cell city"
                style="
                  background-image: url('../sources/cidades/imagens-paraibese/campina/atracoes-naturais/campina2.jpg');
                "
              ></div>
              <div
                class="carousel-cell city"
                style="
                  background-image: url('../sources/cidades/imagens-paraibese/campina/atracoes-naturais/campina3.jpg');
                "
              ></div>
              <div
                class="carousel-cell city"
                style="
                  background-image: url('../sources/cidades/imagens-paraibese/campina/atracoes-naturais/campina4.jpg');
                "
              ></div>
              <div
                class="carousel-cell city"
                style="
                  background-image: url('../sources/cidades/imagens-paraibese/campina/atracoes-naturais/campina5.jpg');
                "
              ></div>
              <div
                class="carousel-cell city"
                style="
                  background-image: url('../sources/cidades/imagens-paraibese/campina/atracoes-naturais/campina6.jpg');
                "
              ></div>
            </div>
          </div>
        </div>

        <!-- ------------- HOSPEDAGEM-SECTION ---------------- -->
        <div id="hospedagem-section" class="section">
          <div class="card">
            <div class="establishment-logo">
              <img src="../sources/hospedagens-img/Garden.jpg" alt="" />
            </div>
            <div class="establishment-description">
              <h3>Garden Hotel</h3>
              <span class="categoria">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star-half-stroke"></i>
                4.1
              </span>
              <br />
              <span class="endereco">R. Eng. José Bezerra, 400 - Mirante</span>
              <p>
                <i class="fa-regular fa-user"></i> “Estacionamento Coberto e
                seguro. Localização próximo ao centro da cidade e atrações
                turísticas.”
              </p>
              <button type="button" class="button-reservas">
                <a
                  href="https://www.booking.com/hotel/br/garden.pt-br.html"
                  target="_blank"
                  >Reservar</a
                >
              </button>
            </div>
          </div>
          <div class="card">
            <div class="establishment-logo">
              <img src="../sources/hospedagens-img/Hotel-do-vale.jpg" alt="" />
            </div>
            <div class="establishment-description">
              <h3>Hotel do Vale</h3>
              <span class="categoria">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-regular fa-star"></i>
                4.0
              </span>
              <br />
              <span class="endereco">R. Cleiton Ismael, N° 10 - Lauritzen</span>
              <p>
                <i class="fa-regular fa-user"></i>
                “Atendimento, conforto e localização. Café da manhã bem
                servido.”
              </p>
              <button type="button" class="button-reservas">
                <a
                  href="https://www.booking.com/hotel/br/do-vale-ltda-campina-grande.pt-br.html"
                  target="_blank"
                  >Reservar</a
                >
              </button>
            </div>
          </div>
          <div class="card">
            <div class="establishment-logo">
              <img src="../sources/hospedagens-img/Intercity.jpg" alt="" />
            </div>
            <div class="establishment-description">
              <h3>Intercity</h3>
              <span class="categoria">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star-half-stroke"></i>
                4.3
              </span>
              <br />
              <span class="endereco">Av. Barão Rio Branco, 370 - Centro</span>
              <p>
                <i class="fa-regular fa-user"></i> Melhor hotel de negócios da
                cidade, novo, acabamento fino, quarto confortável, cama
                excelente, boa acústica.
              </p>
              <button type="button" class="button-reservas">
                <a
                  href="https://www.booking.com/hotel/br/interciy-campina-grande.pt-br.html"
                  target="_blank"
                  >Reservar</a
                >
              </button>
            </div>
          </div>
          <div class="card">
            <div class="establishment-logo">
              <img src="../sources/hospedagens-img/Village.jpg" alt="" />
            </div>
            <div class="establishment-description">
              <h3>Hotel Village</h3>
              <span class="categoria">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star-half-stroke"></i>
                4.6
              </span>
              <br />
              <span class="endereco"
                >R. Otacílio Nepomuceno, 1285 - Catolé</span
              >
              <p>
                <i class="fa-regular fa-user"></i> "O café da manhã era
                excelente e o quarto era muito confortável".
              </p>
              <button type="button" class="button-reservas">
                <a
                  href="https://www.booking.com/hotel/br/village-confort-campina-grande.pt-br.html"
                  target="_blank"
                  >Reservar</a
                >
              </button>
            </div>
          </div>
        </div>
        <!-- ---------- SERVICOS-SECTION ------------  -->
        <div id="servicos-section" class="section">
          <details>
            <summary>
              <span
                >Hospitais <i class="fa-solid fa-truck-medical"></i> (3)</span
              >
              <br />
            </summary>
            <ul>
              <li>
                <a
                  href="https://maps.app.goo.gl/BmtjG7epXmAa4zA18"
                  target="_blank"
                >
                  <h3>
                    Hospital de Emergência e Trauma Dom Luiz Gonzaga Fernandes
                  </h3>
                </a>
                <div class="description-li">
                  <span
                    ><strong>Endereço: </strong>Av. Mal. Floriano Peixoto, 1045
                    - Malvinas, Campina Grande - PB, 58428-111</span
                  >
                  <span><strong>TELEFONE: </strong> (83) 3310-5850</span>
                </div>
              </li>
              <li>
                <a
                  href="https://maps.app.goo.gl/EkzooTF3E2s1ytaX8"
                  target="_blank"
                >
                  <h3>HELP - Hospital de Ensino e Laboratórios de Pesquisa</h3>
                </a>
                <div class="description-li">
                  <span
                    ><strong>Endereço: </strong>R. Heronides da Costa Cirne, 250
                    - Serrotão, Campina Grande - PB, 58434-505</span
                  >
                  <span><strong>TELEFONE: </strong> (83) 3063-9960</span>
                </div>
              </li>
              <li>
                <a
                  href="https://maps.app.goo.gl/7wbj3LRaXQT54WFdA"
                  target="_blank"
                >
                  <h3>Hospital Municipal Dr. Edgley Maciel</h3>
                </a>
                <div class="description-li">
                  <span
                    ><strong>Endereço: </strong>R. Dom Bosco, S/N - José
                    Pinheiro, Campina Grande - PB, 58407-425</span
                  >
                  <span><strong>TELEFONE: </strong> (83) 3342-9363</span>
                </div>
              </li>
            </ul>
          </details>
          <details>
            <summary><span>Aeroporto <i class="fa-solid fa-plane"></i> (1)</span></summary>
            <ul>
              <li>
                <a
                  href="https://maps.app.goo.gl/xdGb7LRu3W9jEum37"
                  target="_blank"
                >
                  <h3>Aeroporto Presidente João Suassuna</h3>
                </a>
                <div class="description-li">
                  <span
                    ><strong>Endereço: </strong>Av. Uberaba, S/N - Distrito
                    Industrial, Campina Grande - PB, 58418-410</span
                  >
                  <span><strong>TELEFONE: </strong> (83) 3332-9000</span>
                </div>
              </li>
            </ul>
          </details>
          <details>
            <summary><span>Delegacias <i class="fa-solid fa-handcuffs"></i> (9)</span></summary>
            <ul>
              <li>
                <a
                  href="https://maps.app.goo.gl/z6bwRSXMvA7bncZU9"
                  target="_blank"
                >
                  <h3>1ª DELEGACIA DISTRITAL</h3>
                </a>
                <div class="description-li">
                  <span
                    ><strong>Endereço: </strong>R. Vig. Virgínio, 488 - Jardim
                    Tavares, Campina Grande - PB, 58402-013</span
                  >
                  <span><strong>TELEFONE: </strong> (83) 3342-8635</span>
                </div>
              </li>
              <li>
                <a
                  href="https://maps.app.goo.gl/4daaSbGYLfwbqPGm8"
                  target="_blank"
                >
                  <h3>2ª DELEGACIA DISTRITAL</h3>
                </a>
                <div class="description-li">
                  <span
                    ><strong>Endereço: </strong>R. Lino Gomes da Silva, 39 -
                    Centro, Campina Grande - PB, 58400-360</span
                  >
                  <span><strong>TELEFONE: </strong> (83) 3310-9343</span>
                </div>
              </li>
              <li>
                <a
                  href="https://maps.app.goo.gl/HkdgjLzdYGVvJjka6"
                  target="_blank"
                >
                  <h3>3ª DELEGACIA DISTRITAL</h3>
                </a>
                <div class="description-li">
                  <span
                    ><strong>Endereço: </strong>Av. Pres. Getúlio Vargas, 907 -
                    Centro, Campina Grande - PB, 58400-585</span
                  >
                  <span><strong>TELEFONE: </strong> (83) 3342-4591</span>
                </div>
              </li>
              <li>
                <a
                  href="https://maps.app.goo.gl/5MthcqqhNoWy5s2Z7"
                  target="_blank"
                >
                  <h3>4ª DELEGACIA DISTRITAL</h3>
                </a>
                <div class="description-li">
                  <span
                    ><strong>Endereço: </strong>R. Alcides Avelino de Medeiros,
                    549 - Serrotão, Campina Grande - PB, 58434-640</span
                  >
                  <span><strong>TELEFONE: </strong> (83) 3339-6906</span>
                </div>
              </li>
              <li>
                <a
                  href="https://maps.app.goo.gl/jt1mmaKRLcDHCtaNA"
                  target="_blank"
                >
                  <h3>6ª DELEGACIA DISTRITAL</h3>
                </a>
                <div class="description-li">
                  <span
                    ><strong>Endereço: </strong>R. João Quirino, 476 - Catolé,
                    Campina Grande - PB, 58410-370</span
                  >
                  <span><strong>TELEFONE: </strong> (83) 3337-5052</span>
                </div>
              </li>
              <li>
                <a
                  href="https://maps.app.goo.gl/rTMSWonyY3nF3M8BA"
                  target="_blank"
                >
                  <h3>7ª DELEGACIA DISTRITAL</h3>
                </a>
                <div class="description-li">
                  <span
                    ><strong>Endereço: </strong>R. Dr. Acácio Figueiredo, 1021 -
                    Acácio Figueiredo, Campina Grande - PB, 58421-210</span
                  >
                  <span><strong>TELEFONE: </strong> (83) 3322-9568</span>
                </div>
              </li>
              <li>
                <a
                  href="https://maps.app.goo.gl/crYjRXC9dyvCcoKh9"
                  target="_blank"
                >
                  <h3>DELEGACIA DA INFÂNCIA E JUVENTUDE</h3>
                </a>
                <div class="description-li">
                  <span
                    ><strong>Endereço: </strong>Catolé, Campina Grande - PB,
                    58410-205</span
                  >
                  <span><strong>TELEFONE: </strong> (83) 3310-9316</span>
                </div>
              </li>
              <li>
                <a
                  href="https://maps.app.goo.gl/5mckP3LBEfdMcZT39"
                  target="_blank"
                >
                  <h3>DELEGACIA DA MULHER</h3>
                </a>
                <div class="description-li">
                  <span
                    ><strong>Endereço: </strong>R. Raimundo Nonato de Araújo,
                    485-629 - Catolé, Campina Grande - PB, 58407-530</span
                  >
                  <span><strong>TELEFONE: </strong> (83) 3310-9300</span>
                </div>
              </li>
              <li>
                <a
                  href="https://maps.app.goo.gl/7aDdEL6tGzMgGtxc7"
                  target="_blank"
                >
                  <h3>DELEGACIA DO IDOSO</h3>
                </a>
                <div class="description-li">
                  <span
                    ><strong>Endereço: </strong>R. Dom Pedro I, 117 - São José,
                    Campina Grande - PB, 58400-414</span
                  >
                  <span><strong>TELEFONE: </strong> (83) 3337-7337</span>
                </div>
              </li>
            </ul>
          </details>
          <details>
            <summary><span>Rodoviarias <i class="fa-solid fa-bus"></i> (2)</span></summary>
            <ul>
              <li>
                <a
                  href="https://maps.app.goo.gl/o8A1F6PX7G3TfYt29"
                  target="_blank"
                >
                  <h3>Terminal Rodoviário de Campina Grande</h3>
                </a>
                <div class="description-li">
                  <span
                    ><strong>Endereço: </strong>R. Basílio Araújo - Sandra
                    Cavalcante, Campina Grande - PB, 58410-637</span
                  >
                  <span><strong>TELEFONE: </strong> (83) 3337-3239</span>
                </div>
              </li>
              <li>
                <a
                  href="https://maps.app.goo.gl/PHrJiPaCNk9uh11E9"
                  target="_blank"
                >
                  <h3>RODOVIÁRIA VELHA OFICIAL</h3>
                </a>
                <div class="description-li">
                  <span
                    ><strong>Endereço: </strong>Praça Lauritzen, 07 - Centro,
                    Campina Grande - PB, 58400-140</span
                  >
                </div>
              </li>
            </ul>
          </details>
          <details>
            <summary><span>UPAs <i class="fa-solid fa-stethoscope"></i> (2)</span></summary>
            <ul>
              <li>
                <a
                  href="https://maps.app.goo.gl/gyQs1V8zaquUtb9J7"
                  target="_blank"
                >
                  <h3>UPA - Alto Branco</h3>
                </a>
                <div class="description-li">
                  <span
                    ><strong>Endereço: </strong>Alto Branco, Campina Grande -
                    PB</span
                  >
                  <span><strong>TELEFONE: </strong> (83) 3341-2079</span>
                </div>
              </li>
              <li>
                <a
                  href="https://maps.app.goo.gl/cUakt5h9sCmpwcDH7"
                  target="_blank"
                >
                  <h3>UPA Adhemar Dantas (Dinamérica)</h3>
                </a>
                <div class="description-li">
                  <span
                    ><strong>Endereço: </strong>Santa Cruz, Campina Grande - PB,
                    58416-680</span
                  >
                  <span><strong>TELEFONE: </strong> (83) 3065-8187</span>
                </div>
              </li>
            </ul>
          </details>
          <details>
            <summary><span>Cidadania <i class="fa-regular fa-address-card"></i> (3)</span></summary>
            <ul>
              <li>
                <a
                  href="https://maps.app.goo.gl/vh9Zuy3RxjQh8D6y6"
                  target="_blank"
                >
                  <h3>Casa da Cidadania</h3>
                </a>
                <div class="description-li">
                  <span
                    ><strong>Endereço: </strong>R. Dr. Severino Cruz, 283 -
                    Centro, Campina Grande - PB, 58400-248</span
                  >
                  <span><strong>TELEFONE: </strong> (83) 3310-9433</span>
                </div>
              </li>
              <li>
                <a
                  href="https://maps.app.goo.gl/zcnqReeFTbUGBYd57"
                  target="_blank"
                >
                  <h3>1° Cartório de Registro Civil das Pessoas Naturais</h3>
                </a>
                <div class="description-li">
                  <span
                    ><strong>Endereço: </strong>Av. Mal. Floriano Peixoto, 813 -
                    Centro, Campina Grande - PB, 58400-165</span
                  >
                  <span><strong>TELEFONE: </strong> (83) 3321-4598</span>
                </div>
              </li>
              <li>
                <a
                  href="https://maps.app.goo.gl/aXTxBd8c5s2mzRN26"
                  target="_blank"
                >
                  <h3>Cartório Extra Judicial</h3>
                </a>
                <div class="description-li">
                  <span
                    ><strong>Endereço: </strong>Av. Mal. Floriano Peixoto, 794 -
                    Centenário, Campina Grande - PB, 58400-180</span
                  >
                  <span><strong>TELEFONE: </strong> (83) 3322-1243</span>
                </div>
              </li>
              <li>
                <a
                  href="https://maps.app.goo.gl/bb5qRm8X9Y5ZHGxc7"
                  target="_blank"
                >
                  <h3>
                    1º Ofício de Registro de Imóveis e 1º Tabelionato de
                    Protesto de Títulos e Documentos da Comarca de Campina
                    Grande
                  </h3>
                </a>
                <div class="description-li">
                  <span
                    ><strong>Endereço: </strong>R. Vidal de Negreiros, 70 -
                    Centro, Campina Grande - PB, 58400-263</span
                  >
                  <span><strong>TELEFONE: </strong> (83) 3088-5570</span>
                </div>
              </li>
              <li>
                <a
                  href="https://maps.app.goo.gl/BdyYGK7o5bPhT7gC9"
                  target="_blank"
                >
                  <h3>2º Cartório de Registro Civil</h3>
                </a>
                <div class="description-li">
                  <span
                    ><strong>Endereço: </strong>Praça Clementino Procópio, 119 -
                    Centro, Campina Grande - PB, 58400-292</span
                  >
                  <span><strong>TELEFONE: </strong> (83) 99947-7385</span>
                </div>
              </li>
              <li>
                <a
                  href="https://maps.app.goo.gl/j7aNSjZBpC8GVDdE7"
                  target="_blank"
                >
                  <h3>Fórum Afonso Campos</h3>
                </a>
                <div class="description-li">
                  <span
                    ><strong>Endereço: </strong>Estacao Velha, Campina Grande -
                    PB, 58410-052</span
                  >
                  <span><strong>TELEFONE: </strong> (83) 98793-7088</span>
                </div>
              </li>
            </ul>
          </details>
        </div>

        <!-- ------------ ALIMENTACAO-SECTION --------------- -->
        <div id="alimentacao-section" class="section">
          <div class="card">
            <div class="establishment-logo">
              <img src="../sources/logo-restaurantes/bardocuscuz.jpg" alt="" />
            </div>
            <div class="establishment-description">
              <h3>Bar do Cuscuz</h3>
              <span class="categoria">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star-half-stroke"></i>
                       4.4
              </span>
              <br />
              <span class="endereco"> R. Dr. Severino Cruz, 771 - Centro </span>
              <p>
                <i class="fa-regular fa-user"></i> Muito bom ambiente, música ao
                vivo de qualidade no volume certo, boa variedade de bebidas e
                petiscos. Atendimento impecável.
              </p>
              <a href="tel:+558333224232">
                <i class="fa-solid fa-phone call"></i>
              </a>
              <a href="https://www.instagram.com/bardocuscuzcg/" target="_blank"
                ><i class="bi bi-instagram"></i
              ></a>
            </div>
          </div>
          <div class="card">
            <div class="establishment-logo">
              <img src="../sources/logo-restaurantes/carnedesol.jpg" alt="" />
            </div>
            <div class="establishment-description">
              <h3>Manoel da Carne de Sol</h3>
              <span class="categoria">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star-half-stroke"></i>
                4.6
              </span>
              <br />
              <span class="endereco"> R. Félix Araújo, 263 - Centro </span>
              <p>
                <i class="fa-regular fa-user"></i> Tudo perfeito. O atendimento
                foi fantástico e muito exclusivo. O filé do sol é incrível, o
                melhor que já comi. O melhor da cidade.
              </p>
              <a href="tel:+558333212877">
                <i class="fa-solid fa-phone call"></i>
              </a>
              <a
                href="https://www.instagram.com/manoeldacarnedesol/"
                target="_blank"
                ><i class="bi bi-instagram"></i
              ></a>
            </div>
          </div>
          <div class="card">
            <div class="establishment-logo">
              <img src="../sources/logo-restaurantes/lacucina.jpg" alt="" />
            </div>
            <div class="establishment-description">
              <h3>Lacucina</h3>
              <span class="categoria">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star-half-stroke"></i>
                4.7
              </span>
              <br />
              <span class="endereco"> R. Irineu Joffily, 290 - Centro </span>
              <p>
                <i class="fa-regular fa-user"></i> Fomos comemorar os 12 anos de
                casados. Tivemos uma excelente experiência.
              </p>
              <a href="tel:+5583981338812">
                <i class="fa-solid fa-phone call"></i>
              </a>
              <a href="https://www.instagram.com/lacucinaristo/" target="_blank"
                ><i class="bi bi-instagram"></i
              ></a>
            </div>
          </div>
          <div class="card">
            <div class="establishment-logo">
              <img src="../sources/logo-restaurantes/the-W.jpg" alt="" />
            </div>
            <div class="establishment-description">
              <h3>The W Restaurante</h3>
              <span class="categoria">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star-half-stroke"></i>
                4.7
              </span>
              <br />
              <span class="endereco">
                Av. Manoel Tavares, 455 - Alto Branco
              </span>
              <p>
                <i class="fa-regular fa-user"></i> Um local agradável para ir
                com amigos e família. Pratos bem preparados com um tempero
                incrível. O atendimento é maravilhoso! Recomendo!
              </p>
              <a href="tel:++558332013496">
                <i class="fa-solid fa-phone call"></i>
              </a>
              <a
                href="https://www.instagram.com/thewestablishment/"
                target="_blank"
                ><i class="bi bi-instagram"></i
              ></a>
            </div>
          </div>
        </div>
        <!-- ------------ ROTEIRO-SECTION --------------- -->
        <div id="roteiro-section" class="section">
          <p>
            Não é à toa que Campina Grande é intitulada como a Rainha da
            Borborema. Charmosa e acolhedora, tem sua gastronomia marcante e a
            alegria é contagiante. Visitaremos os principais pontos da cidade
            onde acontece o Maior São João do Mundo.
            <img class="img-right"
              src="../sources/cidades/imagens-paraibese/campina/roteiro/campina1.jpg"
              alt="Campina Grande"
            />
            Às margens do Açude Velho, visitaremos o moderno Museu de Arte
            Popular da Paraíba, projetado pelo arquiteto Oscar Niemeyer e pelo
            monumento Farra da Bodega, uma homenagem ao Rei do Baião Luíz
            Gonzaga e ao Rei do Ritmo, Jackson do Pandeiro. Seguiremos passando
            pela antiga estação ferroviária, onde hoje funciona o museu do
            algodão, afinal aqui, com exclusividade, o algodão já nasce
            colorido. Passaremos pelo Parque do Povo, onde acontece, no mês de
            junho, o Maior São João do mundo! Seguiremos até a Catedral da
            cidade para pedir a bênção a Nossa Senhora da Conceição! Depois, uma
            paradinha pra forrar o bucho no Bar do Cuscuz, o restaurante mais
            tradicional da cidade, onde a sugestão será a famosa Carne de Sol na
            Nata e, claro, o cuscuz! Seguiremos para o tecnológico Museu Digital
            do Sesi, que tornou Campina Grande uma Cidade Criativa UNESCO em
            Artes Midiáticas. Lá conheceremos a história de Campina Grande desde
            a época da Vila Nova da Rainha e a importância do ciclo algodoeiro,
            de forma interativa e divertida.
          </p>
          <p>
            Em uma noite de celebração à gastronomia nordestina, o Cumpade João
            <img class="img-left"
            src="../sources/cidades/imagens-paraibese/campina/roteiro/campina2.jpg"
              alt="Campina Grande"
            />
            abre as portas da sua casa e nos recebe na sua aconchegante varanda
            com um jantar impecável com o sabor da nossa terra. Com clima de
            interior, o Chef Cumpade João irá preparar o jantar regado a muita
            cantoria e talento. Ele, em 2018 ganhou o prêmio Dólmã na categoria
            nacional, faz uma perfeita mistura na gastronomia contemporânea
            regional com pratos autorais misturando elementos do bioma da
            Caatinga ressignificando receitas consagradas mundialmente, regado a
            drinks de cachaças premiadas da Paraíba. Uma noite que une sabor,
            tradição e todo aconchego do interior.
          </p>
          <p>
            Aqui é a terra do Maior São João do Mundo!! E pra que você possa ter
            <img class="img-right"
            src="../sources/cidades/imagens-paraibese/campina/roteiro/campina3.jpg"
              alt="Campina Grande"
            />
            um gostinho do que essa festa significa pra gente, a Vila Sítio São
            João abre as portas pra te receber e mostrar que, na verdade, nesta
            terra se respira forró e tradições juninas o ano inteiro. Lá tem
            muito arrasta-pé, cultura, história e animação. Um lugar de resgate
            da cultura nordestina. Uma linda vilinha cinematográfica que retrata
            a vida do interior com casas de taipas, casa da farinha, engenhos,
            igreja, bodega, fogueira, artesanato, forró pé de serra e comida
            típica. Ainda vai se divertir com as apresentações das quadrilhas
            juninas.
          </p>
          <p>
            Nosso destino é para um lugar de encher os olhos e o coração!
            Passaremos o dia na Fazenda Olho d’ água e quem abre as portas para
            nos receber é o premiado Chef Cumpade João, embaixador da
            gastronomia paraibana com participação em diversos programas de TV,
            autor do prato Romeu e Juliette, em homenagem à vencedora do BBB
            <img class="img-left"
            src="../sources/cidades/imagens-paraibese/campina/roteiro/campina4.jpg"
              alt="Campina Grande"
            />
            2021. Teremos um dia de vivência na fazenda. Você terá a
            possibilidade de fazer uma linda cavalgada na companhia do Cumpade,
            contemplando a natureza, ouvindo histórias do homem no campo, o
            aboio sertanejo, rimas e versos, passando por riachos, vegetação
            nativa totalmente preservada. Um tempo livre para conhecer a
            simplicidade e o charme da vida rural. Poderá, ainda, fazer uma
            caminhada pelo riacho, observar a natureza, pescaria com anzol e
            tirar leite da vaca. Com energia renovada em sintonia com a natureza
            é hora de encher o bucho com um almoço regional, incluindo sobremesa
            com doce caseiro feito na própria fazenda. Tudo isso feito pelas
            mãos do nosso renomado Chef que embala a sua cozinha ao som de
            “repentes” e cantorias da nossa região. Depois do almoço, um
            descanso merecido nas redes à sombra das árvores. Encerraremos com
            um chá da tarde à beira do lago na encantadora Casa de Cumpade.
          </p>
        </div>
      </div>
      <!-- MAIN END -->

      <!-- FOOTER -->
      <div class="footer-content" id="footer-content">
        <div class="center-footer">
          <div class="footer-icons">
            <div class="logo-icon-footer">
              <img src="../sources/footer-header-icons/logobranco.png" alt="" />
            </div>
            <div class="gov-icons">
              <img src="../sources/footer-header-icons/pbtur-icon.png" alt="" />
              <img
                src="../sources/footer-header-icons/secretaria-tur.png"
                alt=""
              />
              <img src="../sources/footer-header-icons/governo-pb.png" alt="" />
            </div>
          </div>
        </div>
        <div class="direitos-reservados">
          <p>PBTUR © 2024. TODOS OS DIREITOS RESERVADOS.</p>
        </div>
      </div>
      <!-- FOOTER END -->
    </div>
    <!-- BODY CONTENT END-->
    <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
    <script src="../scripts/footerNheader.js"></script>
    <script src="../scripts/city.js"></script>
  </body>
</html>
