<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Cabaceiras</title>
    <link rel="icon" href="../sources/footer-header-icons/iconpb.png">

    <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css" />
    


    <link href="../stylesheet/page.css" rel="stylesheet" />
    <link href="../stylesheet/city.css" rel="stylesheet" />
    <link href="../stylesheet/style.css" rel="stylesheet" />
    <link href="../stylesheet/hospedagem.css" rel="stylesheet" />

    <script src="https://kit.fontawesome.com/49272a6f5a.js" crossorigin="anonymous"></script>
</head>

<body>
    <!-- BODY CONTENT -->
    <div class="container">
        <!-- HEADER -->
        <header class="header-content">
            <nav>
                <img src="../sources/footer-header-icons/logoHD.png" alt="" />
                <!-- LOGO -->

                <ul class="nav-list">
                    <!-- NAV LIST -->
                    <li><strong>Cidades</strong></li>
                    <li><strong>Roteiros</strong></li>
                    <li><strong>Noticias</strong></li>
                </ul>

                <div class="pesquisa-perfil">
                    <!-- PESQUISA-PERFIL -->

                    <div class="buscar-box">
                        <div class="lupa-buscar">
                            <i class="bi bi-search"></i>
                        </div>
                        <div class="input-buscar">
                            <input type="text" name="" id="" placeholder="Pesquisa" />
                        </div>
                        <div class="btn-fechar">
                            <i class="bi bi-x-circle"></i>
                        </div>
                    </div>
                    <div class="usuario">
                        <div class="perfil" onclick="menuToggle();">
                            <i class="bi bi-person"></i>
                        </div>
                        <div class="menu">
                            <h3>Bem-Vindo(a)<br /><span>João da silva</span></h3>
                            <ul>
                                <li>
                                    <i class="bi bi-box-arrow-left"></i><a href="#">Sair do perfil</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </nav>
        </header>
        <!-- HEADER END -->

        <!-- MAIN -->
        <div class="main-content">
            <img src="../sources/cidades/imagens-paraibese/cabaceiras/roliude.png" alt="Main Image"
                class="main-image" />
            <div class="content">
                <div class="text-section">
                    <div class="text-block">
                        <p>
                            🌟 Cabaceiras é incrível! Conhecida como a "Roliúde Nordestina",
                            essa cidade charmosa encanta com suas produções cinematográficas,
                            a caprinocultura forte e formações geográficas únicas. Vale muito
                            a visita! 🎬🐐🗺️ #Turismo #Cinema #Nordeste
                        </p>
                        <div class="views-likes">
                            <div>
                                <i class="fa-regular fa-eye"></i>
                                <span>4228 VIEWS</span>
                            </div>
                            <div>
                                <i class="fa-regular fa-heart"></i>
                                <span>3423 LIKES</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-section">
                    <div class="carousel" data-flickity='{"autoPlay" :true, "wrapAround": true}'>
                        <div class="carousel-cell"
                            style="background-image: url(../sources/cidades/imagens-paraibese/cabaceiras/taxi.jpg)">
                        </div>
                        <div class="carousel-cell"
                            style="background-image: url(../sources/cidades/imagens-paraibese/cabaceiras/autodacompadecida.jpg)">
                        </div>
                        <div class="carousel-cell"
                            style="background-image: url(../sources/cidades/imagens-paraibese/cabaceiras/cabaceiras6.jpg)">
                        </div>
                        <div class="carousel-cell"
                            style="background-image: url(../sources/cidades/imagens-paraibese/cabaceiras/cabaceiras7.jpg)">
                        </div>
                        <div class="carousel-cell"
                            style="background-image: url(../sources/cidades/imagens-paraibese/cabaceiras/cabaceiras8.jpeg)">
                        </div>
                        <div class="carousel-cell"
                            style="background-image: url(../sources/cidades/imagens-paraibese/cabaceiras/cabaceiras9.jpeg)">
                        </div>
                    </div>
                </div>
            </div>
            <div class="info-section">
                <p>
                    Cabaceiras é uma cidade na Paraíba, conhecida como a
                    <em>"Roliúde Nordestina"</em> por ser cenário de muitos filmes e
                    séries, incluindo <em>O Auto da Compadecida</em>. Com um charme
                    interiorano e construções históricas, destaca-se pelo Lajedo de Pai
                    Mateus, um sítio arqueológico com formações rochosas únicas. A
                    economia local é baseada na agropecuária, especialmente na criação de
                    caprinos e ovinos, sendo conhecida como a "Capital Mundial do Bode". A
                    Festa do Bode Rei é um evento anual que atrai muitos visitantes,
                    promovendo a cultura e produtos locais, como artesanato em couro e
                    culinária típica. O clima semiárido e a vegetação da caatinga
                    caracterizam a região. Cabaceiras se destaca pela resiliência de seu
                    povo e importância cultural, sendo um polo turístico no sertão
                    paraibano. Seja pelos cenários naturais, produções audiovisuais ou
                    festividades, a cidade encanta seus visitantes.
                </p>
                <div class="button-container">
                    <a href="campina.html" class="button">ATRAÇÕES</a>
                    <a href="hospedagem.html" class="button" id="atrac">HOSPEDAGEM</a>
                    <a href="#" class="button">SERVIÇOS</a>
                    <a href="#" class="button">ALIMENTAÇÃO</a>
                    <a href="#" class="button">LAZER</a>
                    <a href="#" class="button">ROTEIROS</a>
                    <a href="#" class="button">EVENTOS</a>
                </div>
            </div>
            <div class="hospedagem-section">
                <div class="card-hospedagem">
                    <div class="img-hospedagem">
                        <img src="../sources/hospedagens-img/Garden.jpg" alt="">
                    </div>
                    <div class="description-hospedagem">
                        <h3 description-title>Garden Hotel</h3>
                        <p class="localizacao-hospedagem">
                            <a href="">Campina Grande</a> 2,2 km do centro
                        </p>
                        <p class="description-p">
                            O Garden Hotel oferece quartos elegantes e várias opções de lazer em Campina Grande.
                            Você pode desfrutar do parque aquático, quadras de tênis, salão de jogos e 5 piscinas.
                        </p>
                        <button type="button" class="button-reservas"> <a href="https://www.booking.com/hotel/br/garden.pt-br.html" target="_blank">Visualizar Reservas ></a></button>
                    </div>
                </div>
                <div class="card-hospedagem">
                    <div class="img-hospedagem">
                        <img src="../sources/hospedagens-img/Hotel-do-vale.jpg" alt="">
                    </div>
                    <div class="description-hospedagem">
                        <h3 description-title>Hotel do Vale</h3>
                        <p class="localizacao-hospedagem">
                            <a href="">Campina Grande</a> 1 km do centro
                        </p>
                        <p class="description-p">
                            Localizado em Campina Grande, Paraíba, o Hotel do Vale está situado a 5,9 km do Estádio
                            Amigao.
                            A propriedade oferece restaurante, serviço de quarto, recepção 24 horas e Wi-Fi gratuito.
                        </p>
                        <button type="button" class="button-reservas"> <a href="https://www.booking.com/hotel/br/do-vale-ltda-campina-grande.pt-br.html" target="_blank">Visualizar Reservas ></a></button>
                    </div>
                </div>
                <div class="card-hospedagem">
                    <div class="img-hospedagem">
                        <img src="../sources/hospedagens-img/Intercity.jpg" alt="">
                    </div>
                    <div class="description-hospedagem">
                        <h3 description-title>Intercity Campina Grande Citymix</h3>
                        <p class="localizacao-hospedagem">
                            <a href="">Campina Grande</a> 1,6 km do centro
                        </p>
                        <p class="description-p">
                            Localizado em Campina Grande, a 5,8 km do Estádio Amigao, o Intercity Campina Grande Citymix
                            oferece acomodações com academia, estacionamento privativo gratuito, restaurante e bar.
                        </p>
                        <button type="button" class="button-reservas"> <a href="https://www.booking.com/hotel/br/interciy-campina-grande.pt-br.html" target="_blank">Visualizar Reservas ></a></button>
                    </div>
                </div>
                <div class="card-hospedagem">
                    <div class="img-hospedagem">
                        <img src="../sources/hospedagens-img/Village.jpg" alt="">
                    </div>
                    <div class="description-hospedagem">
                        <h3 description-title>Hotel Village Confort Campina Grande</h3>
                        <p class="localizacao-hospedagem">
                            <a href="">Campina Grande</a> 150 m do centro
                        </p>
                        <p class="description-p">
                            O Hotel Village Confort Campina Grande oferece quartos espaçosos, buffet de café da manhã
                            e um elevador panorâmico com vista do Lago Açude Velho.
                        </p>
                        <button type="button" class="button-reservas"> <a href="https://www.booking.com/hotel/br/village-confort-campina-grande.pt-br.html" target="_blank">Visualizar Reservas ></a></button>
                    </div>
                </div>
            </div>
        </div>
        <!-- MAIN END -->

        <!-- FOOTER -->
        <div class="footer-content" id="footer-content">
            <div class="center-footer">
                <div class="footer-icons">
                    <div class="logo-icon-footer">
                        <img src="../sources/footer-header-icons/logobranco.png" alt="">
                    </div>
                    <div class="gov-icons">
                        <img src="../sources/footer-header-icons/pbtur-icon.png" alt="">
                        <img src="../sources/footer-header-icons/secretaria-tur.png" alt="">
                        <img src="../sources/footer-header-icons/governo-pb.png" alt="">
                    </div>
                </div>
            </div>
            <div class="direitos-reservados">
                <p>PBTUR © 2024. TODOS OS DIREITOS RESERVADOS.</p>
            </div>
        </div>
        <!-- FOOTER END -->

    </div>
    <!-- BODY CONTENT END-->
    <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
    <script src="../scripts/footerNheader.js"></script>
</body>

</html>